Resources:
  AWSEBRDSDatabase:
    Type: AWS::RDS::DBInstance
    Properties:
      AllocatedStorage: 5
      DBInstanceClass: db.t3.micro
      Engine: postgres
      EngineVersion: "15"
      MasterUsername: ingresadmin
      MasterUserPassword: IngresAI2026!
      DBName: ingresdb
      MultiAZ: false
      StorageType: gp2
